* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #a4c8e1;
    --secondary-color:  #f7e7ce;
    --ternary-color: #f7ceda;
    --completed-color: #c1fbca;
    --accent-color: #e6a57E;
    --light-color: #FDFDFD;
    --dark-color: #333;
    --navbar-btn-color: #51abff;
    --navbar-hover-color: #6eb7fc;
    --text-color: #2c2f31;


    --dm-primary-color: #032e5c; 
    --dm-secondary-color: #ffc508; 
    --dm-ternary-color: #b62e48; 
    --dm-completed-color: #1f8f4a; 
    --dm-accent-color: #8B6843; 
    --dm-light-color: #1A1A1A; 
    --dm-dark-color: #E0E0E0; 
    --dm-navbar-btn-color: #1a508b; 
    --dm-navbar-hover-color: #2765a3; 
    --dm-background-color: #121213; 
    --dm-text-color: #f4f4f6; 

}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1;
    background: var(--light-color);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--text-color)
}

ul{
    list-style: none;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: 100%; 
}

.profile-container{
    display: flex;
    flex-direction: column;
}

/*Navbar*/

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background: var(--light-color);
    padding: 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: auto;
    height: auto;
}

.navbar .logo img {
    max-height: 60px; 
    max-width: 100%;  
    height: auto;     
    width: auto;
}

.navbar .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--navbar-hover-color);
    cursor: pointer;
}

.navbar ul li a:active {
    color: var(--navbar-hover-color);
    border-radius: 5px;
}

.logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-btn-color);
    border: 1px solid var(--navbar-btn-color);
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    color: var(--light-color);
    font-size: 1rem;
    width: 100%;
}

.dark-mode-div{
    display: flex;
    flex-direction: column;
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections-container, .saved-albums-general-container, .playlists-general-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}


.music-img, .collection-img, .playlist-img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 10px; 
}

.album-img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 10px; 
}

.img-div {
    display: block;
    position:relative;
}

.music-info-div{
    margin-bottom: 30px;
}

.img-div:hover .play{display:block}
.img-div:hover{
    cursor: pointer;
}
.play{
    position : absolute;
    display:none;
    top:20%; 
    width:40px;
    margin:0 auto; left:0px; right: 50px;
    right:0px;
    z-index:100
}

.heading-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.manage-collections-btn, .manage-saved-albums-btn, .manage-playlists-btn{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #2bbd4b;
    color: var(--light-color);
    border-radius: 5px;
    border-color: #2bbd4b;
}


.manage-albums-modal, .add-albums-modal,.add-music-collection-modal, .search-albums-modal, .look-album-suggestions-modal, .delete-albums-modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    padding-left: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.manage-playlists-modal, .add-new-playlist-modal,.add-music-playlist-modal, .delete-playlists-modal, .edit-playlists-modal, .edit-playlist-modal, .delete-playlists-modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    padding-left: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.manage-collections-modal, .add-new-collection-modal, .delete-collection-modal, .edit-collections-modal, .edit-collection-modal, .delete-collections-modal{
    display: none;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    padding-left: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.add-musics-modal, .search-musics-modal-collection , .search-musics-modal-playlist, .look-music-suggestions-modal-collection, .look-music-suggestions-modal-playlist, .delete-musics-modal-collection, .delete-musics-modal-playlist{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    padding-left: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btn{
    display: flex;
    background-color: var(--navbar-btn-color);
    border-color: var(--navbar-btn-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    padding-inline: 50px;
    color: #fff;
}

.generate-image-modal{
    display: none;
}

.collections-list, .saved-albums-list, .playlists-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.not-found-content, .search-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
}

.not-found-content-img, .search-content-img{
    display: flex;
    object-fit: cover;
    width: 200px;
    height: auto;
}

.selected {
    border: 4px solid #4CAF50; 
    background-color: #e6ffe6; 
}

.dark-mode {
    background-color: #2c2f31;
    color: #fff;
}