{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" 
    rel="stylesheet"
    />
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{%static 'music/css/display.css' %}"> 
    <link rel="shortcut icon" href= "{%static 'music/img/logo.png' %}">
</head>
    <body>
        <nav class="navbar" aria-label="site-menu">
            <div class = "navbar-container">
                <div class="logo">
                    <a href="{% url 'home' %}" id="home-link">
                        <img src="{% static 'music/img/logo.png' %}" alt="logo"/>
                        <h3>Musica</h3>
                    </a>
                </div>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="{% url 'home'%}" class = "active" id="home-link-nav">Home</a>
                        </li>
                        <li>
                            <a href="{%url 'music_search'%}" id="music-search-link">Music Search</a>
                        </li>
                        <li>
                            <a href="{%url 'music_selector' %}" id="select-link">Select</a>
                        </li>
                        <li>
                            <a href="{%url 'profile' %}" id="profile-link">Profile</a>
                        </li>
                        <li>
                            <a href="{%url 'collections' %}" id="collections-link">Collections</a>
                        </li>
                        <li>
                            <a href="{%url 'events' %}" id="events-link">Events</a>
                        </li>
                        <li>
                            <a href="{%url 'live' %}" id="live-link">Live</a>
                        </li>
                        <li class="nav-create-item">
                            <a href="{%url 'create' %}"  id="create-link">Create</a>
                        </li>
                        <li>
                            <a class="logout-btn" href="{%url 'login' %}">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class= "container">
        <div class="inner-section" id = "top-artists">
            <div>
                <h2>Top Artists</h2>
            </div>
            <div class = "top-artists">  
                <!--dynamically generated top artist list-->
            </div>
        </div>
        <div class="inner-section" id = "music-recommendations">
            <div>
                <h2>Music Recommendations For You</h2>
            </div>
            <div class = "music-recommendations-for-you">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "musics-played-before">
            <div>
                <h2>Musics Played Before</h2>
            </div>
            <div class = "musics-played-before">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "albums">
            <div>
                <h2>Albums for you</h2>
            </div>
            <div class= "albums-for-you">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "musics">
            <div>
                <h2>Random Musics for You</h2>
            </div>
            <div class= "random-musics-for-you">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "artist-albums">
            <div>
                <h2>Artist Albums</h2>
            </div>
            <div class= "artist-albums">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "artist-musics">
            <div>
                <h2>Artist Musics</h2>
            </div>
            <div class= "artist-musics">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "genre-artists">
            <div>
                <h2>Genre Artists</h2>
            </div>
            <div class= "genre-artists">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "genre-albums">
            <div>
                <h2>Genre Albums</h2>
            </div>
            <div class= "genre-albums">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        <div class="inner-section" id = "genre-musics">
            <div>
                <h2>Genre Musics</h2>
            </div>
            <div class= "genre-musics">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "fav-artists">
            <div>
                <h2>Favorite Artists</h2>
            </div>
            <div class= "fav-artists">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "fav-albums">
            <div>
                <h2>Favorite Albums</h2>
            </div>
            <div class= "fav-albums">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "fav-musics">
            <div>
                <h2>Favorite Musics</h2>
            </div>
            <div class= "fav-musics">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "all-collections">
            <div>
                <h2>Collections</h2>
            </div>
            <div class= "collections">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "all-saved-albums">
            <div>
                <h2>Saved Albums</h2>
            </div>
            <div class= "saved-albums">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "all-playlists">
            <div>
                <h2>Playlists</h2>
            </div>
            <div class= "playlists">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "collection">
            <div class="collection-cover-div">
                <div class="collection-cover-image"> 
                    <!--dynamically generated album cover-->
                </div>
                <div class = "collection-info">
                    <!--dynamically generated album name and info-->
                </div>
            </div>
            <div class="collection-songs-list-div">
                <!--dynamically created songs list-->
            </div>
        </div>

        <div class="inner-section" id = "playlist">
            <div class="playlist-cover-div">
                <div class="playlist-cover-image"> 
                    <!--dynamically generated album cover-->
                </div>
                <div class = "playlist-info">
                    <!--dynamically generated album name and info-->
                </div>
            </div>
            <div class="playlist-songs-list-div">
                <!--dynamically created songs list-->
            </div>
        </div>

        <div class="inner-section" id = "created-singles">
            <div>
                <h2>Created Singles</h2>
            </div>
            <div class= "created-singles">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "created-albums">
            <div>
                <h2>Created Albums</h2>
            </div>
            <div class= "created-albums">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "created-events">
            <div>
                <h2>Created Events</h2>
            </div>
            <div class= "created-events">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>

        <div class="inner-section" id = "created-live-events">
            <div>
                <h2>Created Live Events</h2>
            </div>
            <div class= "created-live-events">
                <!--dynamically generated content will be displayed there-->
            </div>
        </div>
        
    </div> 
</body>
<script>window.aichatbotApiKey="d68e432a-7066-4e91-a2d1-52c7ba2a543f"; window.aichatbotProviderId="f9e9c5e4-6d1a-4b8c-8d3f-3f9e9c5e46d1";</script><script src="https://script.chatlab.com/aichatbot.js" id="d68e432a-7066-4e91-a2d1-52c7ba2a543f" defer></script>
<script src="{% static 'music/js/display.js' %}"></script>
</html>