{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Play Song</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" 
    rel="stylesheet"
    />
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'music/css/music_play_song.css' %}">
    <link rel="shortcut icon" href= "{%static 'music/img/logo.png' %}"> 
</head>
<body>
    <nav class="navbar" aria-label="site-menu">
        <div class = "navbar-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="home-link">
                    <img src="{% static 'music/img/logo.png' %}" alt="logo"/>
                    <h3>Musica</h3>
                </a>
            </div>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="{% url 'home'%}" class = "active" id="home-link-nav">Home</a>
                    </li>
                    <li>
                        <a href="{%url 'music_search'%}" id="music-search-link">Music Search</a>
                    </li>
                    <li>
                        <a href="{%url 'music_selector' %}" id="select-link">Select</a>
                    </li>
                    <li>
                        <a href="{%url 'profile' %}" id="profile-link">Profile</a>
                    </li>
                    <li>
                        <a href="{%url 'collections' %}" id="collections-link">Collections</a>
                    </li>
                    <li>
                        <a href="{%url 'events' %}" id="events-link">Events</a>
                    </li>
                    <li>
                        <a href="{%url 'live' %}" id="live-link">Live</a>
                    </li>
                    <li class="nav-create-item">
                        <a href="{%url 'create' %}" id="create-link">Create</a>
                    </li>
                    <li>
                        <a class="logout-btn" href="{%url 'login' %}">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="left-panel">
            <div class="panel-content-div">
                <div class="song-cover-div">
                    <div class="cover-image">
                        <!--dyanmically generated image will be shown here-->
                    </div>
                    <div class="start-stop-div">
                        <audio id="audio-player" controls type="audio">
                        </audio>
                    </div>
                </div>
                <div class="music-info">
                    <!--dyanmically generated music-info will be shown here-->
                </div>
                <div class= "favourite">
                    {% csrf_token %}
                    <div class = "fav-song-div">
                        <span style="font-size: 3em; color: Red;" class="liked">
                            <i class="fa-solid fa-heart"></i>
                        </span>
                        <span style="font-size: 3em; color: Black;" class="not-liked">
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                    {% csrf_token %}
                    <div class = "save-song-div">
                        <span style="font-size: 3em; color: Blue;" class="saved">
                            <i class="fa-solid fa-bookmark"></i>
                        </span>
                        <span style="font-size: 3em; color: Black;" class="not-saved">
                            <i class="fa-regular fa-bookmark"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "right-panel">
            <div class = "lyrics-div">
                <!--dynamically generated lyrics will be added there-->
            </div>
        </div>

        <div class="modal manage-music-modal">
            <div class= "modal-content">
                <button class = "btn decision-add-music">Add Music To Collection/Playlist</button>
                <button class= "btn decision-remove-music">Remove Music From Collection/Playlist</button>
            </div>
        </div>

       <div class="modal save-music-modal">
            <div class= "modal-content">
                <button class = "btn btn-add-to-collection">Add To Collection</button>
                <button class= "btn btn-add-to-playlist">Add To Playlist</button>
            </div>
        </div>

        <div class= "modal save-to-collection-modal">
            <div class= "modal-content">
                <div class="collections-list">

                </div>
                <button class="btn btn-add-music-to-collection">Add To Collection</button>
            </div>
        </div>

        <div class="modal save-to-playlist-modal">
            <div class= "modal-content">
                <div class= "playlists-list">

                </div>
                <button class="btn btn-add-music-to-playlist">Add To Playlist</button>
            </div>
        </div>

        <div class="modal remove-music-modal">
            <div class= "modal-content">
                <button class = "btn btn-remove-from-collection">Remove Music From Collection</button>
                <button class= "btn btn-remove-from-playlist">Remove Music From Playlist</button>
            </div>
        </div> 

        <div class= "modal remove-from-collection-modal">
            <div class= "modal-content">
                <div class="saved-collections-list">

                </div>
                <button class="btn btn-remove-music-from-collection">Remove From Collection</button>
            </div>
        </div>

        <div class="modal remove-from-playlist-modal">
            <div class= "modal-content">
                <div class= "saved-playlists-list">

                </div>
                <button class= "btn btn-remove-music-from-playlist">Remove From Playlist</button>
            </div>
        </div>
        
    </div> 
</body>
<script>window.aichatbotApiKey="d68e432a-7066-4e91-a2d1-52c7ba2a543f"; window.aichatbotProviderId="f9e9c5e4-6d1a-4b8c-8d3f-3f9e9c5e46d1";</script><script src="https://script.chatlab.com/aichatbot.js" id="d68e432a-7066-4e91-a2d1-52c7ba2a543f" defer></script>
<script src="{% static 'music/js/music_play_song.js' %}"></script>
</html>

